@import "compass";
@import "theme_variables";

/* product desc */
/* primary_block ***************************************************************************** */
.primary_block {
	margin-bottom: 20px;
}
.top-hr{
	background: $top-line-color;
	height: 5px;
	margin: 2px 0 31px;
}
.product-heading-h5{
	margin: 3px 0 8px;
}
.box-security .product-heading-h5{
	margin: 0px;
	margin-bottom: 5px;
}
#productscategory_list .product-name,
.accessories-block .product-name{
	margin-bottom: 5px;
	a{
		font-size: 15px;
		line-height: 18px;
	}
}
img{
	max-width: 100%;
	height: auto;
}
/* .pb-right-column ***************************************************************************** */
.pb-right-column {
	.pb-right-column-content{
		padding-top: 15px;
		border-top: 1px solid $base-border-color;
		section{margin-bottom: 20px;
			&:last-child{margin-bottom: 0px;}}
		}
		.accesories-slider{
			.button-container{display: none;}
		}

	}
	/* .pb-left-column ***************************************************************************** */
	.pb-left-column {

		#image-block {
			position: relative;
			border: 1px solid $product-image-border;
			margin-bottom: 10px;
		@media (max-width: $screen-xs-max) { //max 767px
			width: 280px;
			margin: 0 auto;		
		}	
		img {
			display: block;
			margin: 0 auto;
		}
		.slick-arrow{
			@media (min-width: $screen-md){
				opacity: 0;
			}
			z-index: 102;
		}
		&:hover{
			.slick-arrow{
				opacity: 1
			}
		}

				#view_full_size_button{
				position: absolute;
				bottom: 10px;
				right: 10px;
				display: block;
				text-align: center;
				z-index: 103;
				cursor: pointer;
				font-size: 11px;
				background: #fff;
				opacity: 0.4;
				padding: 4px 6px;;
				display: inline-block;
				@include transition(opacity 0.3s ease);
				i{
					font-size: 16px;
					vertical-align: middle;
				}
				span{
					vertical-align: middle;
					margin-left: 5px;
				}
				&:hover
				{
					opacity: 1;
				}
				@media (max-width: $screen-sm-max) { 
					    width: 100%;
    height: 100%;
    opacity: 0;
    left: 0;
    right: 0;
			}
			}

		#view_full_size {
			display: block;
			cursor: pointer;
		}
		a.jqzoom {
			div div {
				img {
					width: auto;
					max-width: 10000px;
				}
				.zoomWrapper {
					border: none;	
				}
			}
		}
		.zoomPad {
			z-index : auto!important;
			width: 100%!important;
			float: none!important;
		}
		.zoomWindow, .zoomWrapper, .zoomWrapperImage{ width: 100%!important; height: 100% !important;}
		.new-box,
		.sale-box {
			z-index: 50002
		}
	}

	#views_block{
		max-width: 480px;
		margin: 0 auto;
		.slick-track{
			margin: 0 auto;
		}
	}
	@media (max-width: $screen-sm-max) { 
		.sendtofriend, .print{
			display: none;
		}
	}

	@media (max-width: $screen-ms-max) {	 //min 768px max 991px		
		.zoomWindow{display: none !important;}	
		.zoomPad{cursor: default;}
	}
	@media (min-width: $screen-sm) {
		&.left-thumbs{
			margin-bottom: 40px;
			.left-thumbs-table{
				position: relative;

			}
			#image-block{margin-left: 70px;}
			#views_block{position: absolute; left: 0px; top: 0px; width: 60px; margin: 0px; bottom: 0px; height: 100%;     overflow: hidden;}
			#thumbs_list{
				height: 100%;
				margin: 0px;
				.slick-list{
					padding: 0px;
					margin: 0px;
				}
				li{
					margin: 0px 0px 5px 0px;
				}
				.slick-next, .slick-prev{
					width: 50px;
					height: 20px;
					margin: 0px;
					overflow: hidden;
				}
				.slick-next{
					bottom: 0px;
					top: auto;
					left: 5px;
					&:before{
						content: '\e604';
						line-height: 21px;
						position: relative;
						left: 3px;
					}
				}
				.slick-prev{
					top: 0px;
					left: 5px;
					&:before{
						line-height: 21px;
						content: '\e603';
						position: relative;
						left: 3px;
					}

				}
				#thumbs_list_frame{
					padding: 23px 0px;
				}
				#thumbs_list_frame, .slick-list{
					height: 100% !important;
					margin: 0px;
				}
			}
			}}
		}


		/* miniatures */
		.pb-left-column #views_block {	
			margin-top: 10px;
			text-align: center;
		}
		#thumbs_list_frame{
			opacity: 0;
			visibility: hidden;
			&.slick-slider{
				opacity: 1;
				visibility: visible;
			}
		}

		#thumbs_list {
			margin: 0 25px;
			.slick-prev{left: -25px;}
			.slick-next{right: -25px;}
			.slick-prev, .slick-next{
				height: 50px;
				width: 20px;
				margin-top: -25px;
				background: none !important;
				&:before{
					font-size: 34px;
					line-height: 34px;	
				}
			}
			li {
				float: left;
				cursor: pointer;
				border: 1px solid $product-image-border;
				margin: 0px 5px;
				a{
					display: block;
					@include transition(all 0.3s ease);
					@include box-sizing(border-box);
					&:hover, &.shown {
						border-color: $product-image-border;
					}
				}
				img {
					margin: 0 auto;
					height: auto;
					@include box-sizing(border-box);
				}
			}
		}
		span.view_scroll_spacer {
			display: inline-block;
			vertical-align: middle;
			@media (max-width: $screen-sm-max) {
				display: none !important;
			}

		}
		#view_scroll_left,
		#view_scroll_right {	
			height: 20px;
			width: 20px;
			vertical-align: middle;
			line-height: 0;
			font-size: 0;
			overflow: hidden;
			@media (max-width: $screen-sm-max) {
				display: none !important;
			}

			&:before{
				padding-left: 2px;
				color: $scroll-button-color;
				font-family: $font-warehouse;
				font-size: 20px;
				line-height: 22px;		
			}
			&:hover:before{
				color: $scroll-button-hover-color;
			}
		}
		#view_scroll_right {
			display: inline-block;
			&:before{
				content: "\e601";	
			}
		}
		#view_scroll_left {
			margin-top: 0;
			&:before{
				content: "\e600";
				padding-right: 2px;
			}
		}
		.resetimg {
			#resetImages i{
				margin-right: 6px;
			}	
		}
		.addthis_toolbox{margin-bottom: 5px;}
		/* link list */
		#usefull_link_block {
			list-style-type: none;
			li {
				margin: 0 0 2px 0;
		@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {	 //min 768px max 991px		
			float: none !important;			
		}
		a{
			position: relative;
			padding-left: 20px;
			line-height: 22px;
			display: inline-block;	

			&:before{
				font-family: $font-icon;
				font-size: 14px;
				line-height: 24px;
				position: absolute;
				top: -2px;
				left: 0;
				font-weight: normal;			
			}
			&:hover{
				color: #000;
			}
		}
		&.print{
			@media (min-width: $screen-sm) and (max-width: $screen-sm-max) { //min 768px max 991px	
				margin: 8px 0 0 ;
				padding: 0;
				border: none;	
			}	 
			a:before{
				content: "\f02f";		
			}
		}
		&.sendtofriend {
			a:before{
				content: "\f003";
			}
		}
		&.socialsharing_list{
			p{margin: 0px;}
		}
		&#left_share_fb {
			clear: both;
			float: none;
			a{
				padding-left: 18px;
			}
			a:before{
				content: "\f09a";
			}
		}
		&#favoriteproducts_block_extra_remove, 
		&#favoriteproducts_block_extra_add, 
		&#favoriteproducts_block_extra_removed, 
		&#favoriteproducts_block_extra_added{
			cursor: pointer;
			font-weight: 700;
			clear: both;
			float: none;
			margin: 0 0 8px 0;
			border: none;
			padding: 0;
			position: relative;
			&:before{
				font-family: $font-icon;
				color: $base-text-color;
				font-size: 19px;
				line-height: 24px;
				position: absolute;
				top: -2px;
				left: 0;	
				font-weight: normal;	
				content: "\f08a";
			}
			&:hover{
				color: #000;
			}
		}
		&#favoriteproducts_block_extra_removed:before {
			content: "\f004";
		} 
	}
}


/* pb-left-column ****************************************************************************** */
.product-title-center{
	@media (max-width: $screen-ms-max) { 
		.imglog{display: none;
		}
	}
}
.pb-center-column {
	.product-title{
		font-size: 11px;
		border-top:	1px solid $base-border-color;
		position: relative;
		padding-right: 70px;
		img.imglog{
			position: absolute;
			right: 0;
			top: 15px;
		}
		p {
			margin-bottom: 0px;
			display: inline-block; margin-right: 10px;
		}
		.manname{margin-right: 10px;}
		label{margin-bottom: 0px;}
		.yotpo{
			display: block!important;
			overflow: hidden;
			.yoResult{
				color: inherit!important;
				font-size: inherit!important;
				font-style: normal !important;
				font-weight: normal !important;
			}
		}
	}
	h1 {
		padding-bottom: 0px;
		margin-bottom: 5px;
		margin-top: 15px;
		text-transform: uppercase;
	}
	p {
		margin-bottom: 10px;
	}
	#short_description_block {
		margin-top: 15px;
		.buttons_bottom_block {
			display: none;
		}
		#short_description_content{
			padding: 0px;
			word-wrap: break-word;
			p{
				line-height: 18px;
			}
		} 
	}
	/* form */
	#buy_block {
		p{
			&.price {
				padding: 0;
			}
		}
	}
	#color_picker p {
		padding-bottom: 5px;
		font-weight: 700;
	}
	.buttons_bottom_block{
		margin: 0px;
	}
	.more_buttons_bottom_block{

		.additional_button{display: inline-block; margin-right: 10px;
			&:last-child{margin-right: 0px;}
		}
		.addthis_toolbox{margin-bottom:  -3px;}

		margin-top: 15px;
		padding-top: 10px;
		border-top: $main_border;
		clear: both;
		.print {
			&:before{
				content: "\f02f";
				font: 400 15px/31px $font-icon;
				margin-right: 5px;
				display: inline-block;

			}
		}
		.add_to_compare {
			&:before{
				content: "\f074";
				font: 400 15px/31px $font-icon;
				margin-right: 5px;
				display: inline-block;

			}
			&.checked{
				&:before{
					content: "\f068";
					}}
				}
			}
		}
		#product p#loyalty {
			padding: 15px 0 15px 35px;
			border-top: $main_border;
			position: relative;
			margin: 0px;
			b{
				color: $base-text-color
			}
			&:before{
				content: "\f024";
				font-family: $font-icon;
				color: #cfcccc;
				font-size: 26px;
				line-height: 28px;
				position: absolute;
				top: 16px;
				left: 0;		
			}
		}
		#page .rte {
			word-wrap: break-word;

		}
		#attributes{
			fieldset {
				padding-bottom: 5px;
				&:last-child{padding-bottom: 0px;}
				label {
					vertical-align: top;
					display: block;
					font-weight: bold;
				}
			}
			.attribute_list {
				width: 100%;
				.form-control {
					max-width: 230px;
					option{
						background: $light-background;
						color: $description-color;
					}
				}
				ul{
					clear: both;
					li{
						margin-right: 10px;
						overflow: hidden;
					}
				}
				input.attribute_radio{
					float: left;
					margin-left: 3px;
				}
				div.radio, 
				div.radio span,
				div.radio input{
					float: none;
					display: inline-block; 
				}
				#color_to_pick_list {
					list-style-type: none;
					margin-bottom: 0px;
					li {
						float: left;
						margin: 0 6px 6px 0;
						border: 1px solid $base-border-color;
						clear: none;
						a.color_pick {
							display: block;
							height: 22px;
							width: 22px;
							cursor: pointer;
							img{
								position: relative;
								top: -2px;
							}
						}
						&.selected{
							position: relative;
							top: -2px;
							border: 2px solid;
							a.color_pick {
							height: 24px;
							width: 24px;
						}
						}
					}
				}	
			}
		}
		.product_attributes{
			margin-bottom: 10px;
			border-top:	1px solid $base-border-color;
			padding-top: 15px;
		}
		.box-cart-bottom { 
			border-top:	1px solid $base-border-color;
			padding-top: 15px;
			label.qty-label{width: auto!important;}
		}
		.available-box{    margin-top: 10px;
			margin-bottom: 5px;}


			.box-info-product {
				p{
					margin-bottom: 10px;
				} 
				.exclusive{
					text-transform: uppercase;
					padding: 0;
					border: none;
					position: relative;
					display: block;
					@include transition(all 0.3s ease);
					@include border-radius(3px);
					background: #009ad0;
					&.added {
					}
					&.added.disabled, 
					&.disabled {}

					span{
						font-size: 14px; 
						line-height: 44px;
						padding: 0px 30px;  
						display: block !important;

					}
					&:hover{
						background: #007ab7;
					}
				}
			}


			#center_column.col-sm-9{
				.col-md-3{
					.box-info-product {
						background: $list-info-bg;	
						border: 1px solid #d2d0d0;
						border-top: 1px solid #b0afaf;
						border-bottom: 1px solid #b0afaf;
						p{
							margin-bottom: 7px;
							padding: 15px 10px 0
						} 
						.exclusive{
							padding: 0;
							&.added.disabled, 
							&.disabled {

							}
							span{
								font-weight: 500;
								font-size: 18px; 
								line-height: 22px;
								border: none;
								border-top: 1px solid #006fa8;  
								text-shadow: 0 1px #015883;
								padding: 12px 16px 14px;  
								color: $light-text-color;
								display: block !important;
								@include border-radius(0);
								@include transition(all 0.3s ease);
					@media  (max-width: $screen-md-max) { //max 1199px
						font-size: 16px;  
					}
					@media (max-width: $screen-sm-max) {  //max 991px
						padding: 8px 12px 10px;
						text-align: center;	
					} 
				}
				&:hover{
					@include background-image(linear-gradient(#007ab7, #009ad0)); 
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007ab7', endColorstr='#009ad0',GradientType=0 );
					background-position: 0 0;
				}
			}
		}
	}
}
#product {
	.tab-content > .tab-pane{padding: 20px; padding-bottom: 0px; margin-bottom: 20px;}
}
/* table_data_sheet */
.table-data-sheet{
	border-bottom: $main_border;	
	width: 100%;
	margin: 0 0 20px;
	tr{
		border-top: $main_border;
		td{
			padding: 10px 20px 11px;
			&:first-child{
				border-right: $main_border;
				width: 30%;
				font-weight: 700;
			}
		}
	}
}

/* table product-discounts */
table.table-product-discounts{
	border: none;
	border-bottom: $main_border;
	border-right: $main_border;
	width: 50%;
	margin: 0 0 20px;
	background: $light-background;
	@media (max-width: $screen-xs-max) { //max 767px
		width: 100%;																		
	}		
	tr th{
		background: $table-background;
		color: $base-text-color;
		font-weight: 700;
		border: none;
		font-weight: 700;
	}	
	tr td,
	tr th{
		border-left: $main_border;
		width: 33%;
		padding: 10px 20px 11px;
		border-top: $main_border;
		border-right: none;
		text-shadow: none;
		text-transform: none;
		font-weight: 13px;
		line-height: 18px;
		border-bottom: none;
	}
}

/* accessories  */
.accessories-block {
	.block_description{
		display: none;
	}
	.exclusive span{
		font-size: 13px;
		line-height: 18px;
		padding: 2px 8px 3px;
		text-decoration: none;
		&:focus, 
		&:active{
			text-decoration: none;
		}
	}
}

.add_to_cart_container {
	display: inline-block;
	vertical-align: middle;
	&.unvisible{
		display: none;
	}
}
/* quantity_wanted */
#quantity_wanted_p{
	display: inline-block;
	vertical-align: middle;
	line-height: 40px;
	margin-right: 10px;

	.quantity-input-wrapper{
		position: relative;
		float: left;
		display: inline-block;
		.product_quantity_down, .product_quantity_up{
			position: absolute;
			right:  8px;
			top: -5px;
			width: 5px;
			height: 5px;
			color: $base-border-color;
			&:hover{
				color: #777777;
			}
		}
		.product_quantity_down{top: 3px;}
	}

	input {
		width: 60px;
		height: 40px;
		padding: 0 6px;
		float: left;
		border: $main_border;
		line-height: 27px;
	}
	.btn{
		float: left;
		margin-left: 3px
	}
	label{
		display: block;
		float: left;
		line-height: 40px !important;
		margin-right: 10px;
	}
}

/* availability_statut */
.available-box{
	p:last-child{margin-bottom: 0px; padding-bottom: 0px;}
}
#availability_statut span#availability_label, 
#availability_date_label {
	display: inline-block;
	font-size: 12px;
	text-align: right;
}

#availability_value, 
#last_quantities {
	color: $light-text-color;
	line-height: 18px;
	display: inline-block;
	padding: 3px 8px 4px;
	background: #46a74e;
}
#last_quantities{
	background: #ff7430;
	padding: 4px 8px 3px;
	position: relative;
	top: 1px;
}
#availability_statut{margin-left: 5px;}
#availability_statut, 
#pQuantityAvailable {
	display: inline-block;
}
#pQuantityAvailable {
	text-align: right;
	position: relative;
	top: 1px;
}

#availability_statut #availability_value.warning_inline {
	background-color: #fe9126;
	border-color: #e4752b;
	margin: 0;
}

/* box-security */
.box-security {
	border-top: 1px solid $base-border-color;
	margin-top:  13px;
	padding: 10px 0px;
}

/* prices */
.content_prices {
	margin-bottom: 5px;
	.price{
		display: inline-block;
	}
}
.discount {
	display: none;
}

.our_price_display {
	font-size: 20px;
	display: inline-block;
	color: $product-price-color;
	margin: 0px;
}
.pack_price{	display: inline-block;}

#old_price {
	text-decoration: line-through;
	display: inline-block;
	line-height: 23px;
	padding: 0px 5px;
}
#old_price_display{
	.price{
		text-decoration: line-through;
	}
}
#reduction_percent, 
#reduction_amount {
	display: inline-block;	
	margin-right: 10px;
	padding: 1px 2px;
	line-height: 23px;
	color: $light-text-color;
	background: #f13340;
	span{
		display:block;	
	}
}
#minimal_quantity_wanted_p{
	clear: both;
	margin: 5px 0px 0px 0px;
}

/* online_only */
.pb-center-column p.online_only {
	font-weight: 700;
	font-size: 13px;
	color: #f13340;
	text-align: left;	
}

.buttons_bottom_block {
	
}

/* SEND TO FRIEND (pop-in) ##################################################################### */

#send_friend_form {
	width: 555px;
	overflow: hidden;
	@media (max-width: $screen-xs-max) { // max 767px
		width: 280px;
	}
	.product{
		img{
			margin: 0 0 10px 0;
			border: 1px solid $base-border-color;
		}
		p{
			padding: 0 ;
			color: $base-text-color;
			.product_name {
				font-size: 12px;
				color: #000;
			}
		}
	}
	.form_container {
		padding: 10px 15px;
		border: 1px solid $base-border-color;
		background: $base-box-bg;
		p{
			&.intro_form {
				padding-bottom: 6px;
				font-weight: 700;
				font-size: 13px;
				color: $base-text-color;
			}
			&.txt_required{
				padding-bottom: 0;
				color: #666;	
			}
		}
		.text {
			padding-bottom: 10px;
			label {
				display: block;
				padding: 0;
				width: 100%;
				font-size: 12px;
			}
			input {
				padding: 0 5px;
				height: 22px;
				width: 100%;
				border: 1px solid base-border-color;
				font-size: 12px;
				color: #666;
			}
		}
	}
	.submit {
		margin-top: 20px;
		padding-bottom: 0;
		text-align: right;
	}	
}

/* PERSONNALISATION ##################################################################### */

ul#uploadable_files,
ul#text_fields {
	list-style-type: none;
}

.customizableProductsFile,
.customizableProductsText {
	margin-bottom: 20px;
	border-bottom: 1px solid $base-border-color;
}

.customizationUploadLine {
	label{
		display: block;
		vertical-align: top;
	}
	textarea {	
		width: 50%;
		border: $main_border;
		color: $text-color;
	}
}
.customizationUploadBrowse img + a {
	position: relative;
}

#customizedDatas {
	float: right;
}

.accessories_block{
	div ul li {
		a {
			display: inline-block;
		}
		&.s_title_block{
			a, 
			span{
				font-weight:700;
			}
		}
	} 
}

/******************************************************************
Quick View Styles
******************************************************************/
#product.content_only {
	div {
		&.primary_block {	
			margin: 0px;
			padding: 10px 0;
			div {
				&.pb-left-column {

					span.view_scroll_spacer{
						width: 42px;
					}
				}
				&.pb-center-column {	
					.product-title{border-top: none;
						h1{margin-top: 0px;}}
						margin-bottom: 0;													
					@media (max-width: $screen-sm-max) {  //max 991px
						min-height: 440px;																			
					}
					@media (max-width: $screen-xs - 1)  { // max 479px 
						width: 100%;
						float: none	;																		
					}
					.product_comments_block_extra{
						padding-right: 0;
					}
					@media (max-width: $screen-xs - 1)  { 	// max 479px 
						.comments_advices li{
							display: block;
						}	
						.comments_advices a.reviews{
							margin: 0;
							padding: 0;
							border: none;
						}	
					}
					#ShareDiv{
						position: absolute;
						bottom: 8px;
					}
				}
				&.pb-right-column {
					.box-info-product {
						border-top-width: 0px;
						border-right: none;
						border-bottom: none;
						min-height: 623px;
						height: 100%;
						@include border-radius(0 4px 4px 0);
						position: relative;
						padding-bottom: 125px;															
						@media (max-width: $screen-sm-max) {  //max 991px
							@include border-radius(0);	
							border: $main_border;
						} 					
						.box-cart-bottom {
							position: absolute;
							bottom: 0;
							right: 0;
							left: 0;
						}
					}		
					#attributes .attribute_list {
						.form-control {
							width: 230px;
						}	
					}
					.product_attributes, 
					.box-cart-bottom {
						border-top: 1px solid $main_border;
					}
					.product_attributes { 
						padding-top:0;
					}
				}
			}
		}	
	}
}
.addsharethisinner .stButton .stArrow {
	display: none !important;
}

@media (max-width:1050px) {
	#product.content_only {
		div, 
		section {
			&.primary_block {
				@media (max-width: $screen-xs - 1)  {  // max 479px 
					margin-left: 0;										
				}
				div {
					&.pb-left-column {
						width: 100%;						
						padding-right: 15px;
						#image-block, #views_block {
							max-width: 470px;
							width: 100%;
							margin-left: auto;
							margin-right: auto;	
						}
					}
					&.pb-center-column {
						@media (max-width: $screen-xs - 1)  { // max 479px
							width: 100%;
							float: none;
							padding-left: 15px;	
							@include box-sizing(border-box)																	
						}
					}
					&.pb-right-column {
						width: 50%;
						float: left;
						@media (max-width: $screen-xs - 1)  {  // max 479px 
							margin-top: 10px; 
							width: 100%;
							float: none;
							padding-left: 15px;	
							@include box-sizing(border-box)																		
						}
						.box-info-product {
							border-top-width: 1px;
							min-height: 1px;
						}
					}
				}
			}
		}
	}
}

/***** columns fix ****/

#view_full_size_full{
	width: 100%;
	text-align: center;
}
#closezoom{
	position: absolute;
	right: 15px;
	font-size: 24px;
	top: 15px;
	cursor: pointer;
	display: none;
	padding: 15px;
}
#taptozoom{
	display: none;
}
#pp-zoom-wrapper{
	position: fixed;
	top: 0px;
	left: 0px;
	top: 0px;
	background: #fff;
	z-index: 9999;
	width: 100%;
	height: 100%;
	display: none;
	#views_block{
		opacity: 0;
		visibility: hidden;
		height: 0px;
		overflow: hidden;
	}
	.slick-prev {
		left: 20px;
	}

	.slick-next {
		right: 20px;
	}
	#openzoom{
		display: none;
	}
	#closezoom{
		display: block;
		z-index: 102;
	}
	#all-images-wrapper{
		height: 100vh;
	}
	#image-block{
		height: 100%;
		text-align: center;
	}
	#view_full_size{
		height: 100%;
		width: 100%;
		position: relative;
		> a > img{
			position: absolute;
			top: 0px;
			left: 0px;
			right: 0px;
			bottom: 0px;
			margin: auto;
		}
	}
	.span_link {
		display: none;
	}
	.slick-prev, .slick-next{
		z-index: 102;
	}
	#taptozoom{
		position: absolute;
		bottom: 15px;
		left: 0px;
		text-align: center;
		right: 0px;
		display: block;
	}
	.new-label, .sale-label, .online-label{
		display: none !important;
	}
}	


.easyzoom {
	position: relative;

	/* 'Shrink-wrap' the element */
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

.easyzoom img {
	vertical-align: bottom;
}

.easyzoom.is-loading img {
	cursor: progress;
}

.easyzoom.is-ready img {
	cursor: crosshair;
}

.easyzoom.is-error  img {
	cursor: not-allowed;
}

.easyzoom-notice {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 150;
	width: 40px;
	height: 40px;
	text-align: center;
	background-image: url("../../../img/loader.gif");
	background-color: #fff;
	-webkit-border-radius: 4px;
	background-position: center center;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-repeat: no-repeat;
}

.easyzoom-flyout {
	position:absolute;
	z-index: 100;
	overflow: hidden;
	background: #FFF;
}
.easyzoom-flyout img{
	max-width: none;
}

/**
 * EasyZoom layout variations
 */
 .easyzoom--overlay .easyzoom-flyout {
 	top: 0;
 	left: 0;
 	width: 100%;
 	height: 100%;
 }

 .easyzoom--adjacent .easyzoom-flyout {
 	top: 0;
 	left: 100%;
 	width: 100%;
 	height: 100%;
 	margin-left: 20px;
 }

 @media (max-width: 999px) {
.pb-left-column #image-block #view_full_size_button{
    left: 0px;
    position: absolute;
    height: 100%;
    padding: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 0 !important;
    z-index: 100;
}
}