/*******************************************************************
					Text banner  styles
********************************************************************/
#footer1 #textbannersmodule {
  margin-top: 20px; }

#textbannersmodule ul {
  list-style-type: none; }
#textbannersmodule li {
  list-style-type: none;
  margin-bottom: 20px;
  text-align: center; }
  #textbannersmodule li:last-child .txtbanner {
    border-right: none;
    border-bottom: none;
    padding-bottom: 0; }
  #textbannersmodule li .circle {
    width: 85px;
    height: 85px;
    margin: 0 auto;
    margin-bottom: 10px; }
#textbannersmodule a:hover {
  text-decoration: none; }
#textbannersmodule li img {
  width: 100%; }
#textbannersmodule .txtbanner {
  border-right: 1px solid #dddddd; }
  @media (max-width: 767px) {
    #textbannersmodule .txtbanner {
      border-right: none;
      border-bottom: 1px solid #dddddd;
      padding-bottom: 20px; } }
  #textbannersmodule .txtbanner span {
    transition: all 300ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out; }
  #textbannersmodule .txtbanner:hover span {
    zoom: 1;
    filter: alpha(opacity=70);
    opacity: 0.7; }
#textbannersmodule li.last-item .txtbanner {
  border-right: none; }
#textbannersmodule .txttitle {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  display: block; }
#textbannersmodule .txtlegend {
  display: block;
  font-size: 14px;
  margin-top: 3px; }
#textbannersmodule.no_borders .txtbanner {
  border: none !important; }
#textbannersmodule.iconleft li {
  text-align: left; }
#textbannersmodule.iconleft a {
  padding-top: 5px;
  display: block; }
#textbannersmodule.iconleft .circle {
  float: left;
  width: 60px;
  height: 60px;
  margin-right: 15px; }
  #textbannersmodule.iconleft .circle i {
    line-height: 60px;
    font-size: 18px; }
