@import "compass";
@import "theme_variables";
/*******************************************************************
					Cart Block Styles
********************************************************************/
#header .shopping_cart {
	position: relative;
	float: right;
	padding-top: 44px;
	> a{text-align: right;}
	@media (max-width: $screen-ms-max) {
	float: none;
	margin: 0 auto;
	padding-top: 10px;
	> a{text-align: center;}
	}



}
#shopping_cart_container{
	float: right;
	@media (min-width: 1470px) {
	&.stickCart{
		position: fixed;
		right: 0px;
		top: 4px;
		width: auto;
		z-index: 5002;
		.cart_block{top: 30px !important;}
		.shopping_cart{padding-top: 0px;}
		.more_info{display: none;}
	}}
	@media (max-width: $screen-ms-max) {
				float: none;
	}
}
.shopping_cart {
	@media (max-width: $screen-xs) {
		padding-top: 20px;
	}

	> a:first-child {
		display: block;
		color: #777777;
		float: right;
		line-height: 16px;
		overflow: hidden;
		@media (max-width: $screen-ms-max) {
		float: none;
		}
		span.cart_name {
			color: $light-text-color;
			padding-right: 5px;
			padding: 5px 10px 6px 10px;
			display: inline-block;
			background: $dark-background;
			text-transform: uppercase;
			&:before {
			content: "\f07a";
			font-family: $font-icon;
			display: inline-block;
			font-size: 16px;
			color: $light-text-color;
			padding-right: 10px;
			float: left;
			}
		}

	}
	.more_info{
		background: $gray-lighter;
		padding: 5px 10px 6px 10px;
		display: inline-block;
		@media (max-width: $screen-ms-max) {

		text-align: center;
	}
	}
}

.cart_block {
	.cart_block_list {
		.remove_link {
			position: absolute;
			right: 10px;
			top: 14px;
		}
		.remove_link a,
		.ajax_cart_block_remove_link, .delete_voucher {
			display: block;
			width: 100%;
			height: 100%;
			&:before {
				display: inline-block;
				content: "\f00d";
				font-family: $font-icon;
				font-size: 10px;
				line-height: 18px;

			}
		}
	}
	.cart-images {
		float: left;
		margin-right: 20px;
	}
	.cart-info {
		overflow: hidden;
		position: relative;
		padding-right: 20px;
		.product-name {
			padding-bottom: 0px;
			font-size: 12px;
			line-height: 14px;
			a {
				font-size: 12px;
				line-height: 14px;
				display: inline-block;
			}
		}
		.quantity-formated {
			display: inline-block;
    		padding-right: 5px;

		}
	}
	dt {
		font-weight: normal;
		overflow: hidden;
		padding: 20px 10px 16px 20px;
		position: relative;
		border-top: 1px dashed $base-border-color;
		&:first-child {
			border: none;
		}
	}
	dd {
		position: relative;
		.cart_block_customizations{
			border-top: 1px dashed $dark-background;
			li {
				padding: 10px 20px;

				.deleteCustomizableProduct {
					position: absolute;
					right: 10px;
				}
			}
		}

	}
	.cart_block_no_products {
		margin: 0;
		padding: 10px 20px;
	}
	.cart-prices {
		border-top: 1px solid $base-border-color;
		padding: 10px 20px 10px 20px;
		.cart-prices-line {
			overflow: hidden;
			border-bottom: 1px dashed $base-border-color;
			padding: 7px 0;
			&.last-line {
				font-weight: bold;
				border: none;
			}
		}
	}
	.cart-buttons {
		overflow: hidden;
		padding: 20px 20px 10px 20px;
		margin: 0;
		background: #f6f6f6;
		a {
			width: 100%;
			float: left;
			text-align: center;
			margin-bottom: 10px;
			margin-right: 10px;
			&#button_order_cart {
				margin-right: 0;
				span {
					padding: 7px 0;
					font-size: 1.1em;
				}
				&:hover span {
				}
			}
		}
	}
}
/*******************************************************************
					Cart Block(Header) Styles
********************************************************************/
#header {
		.cart-buttons {
		border-top: 1px solid $base-border-color;
		}
	.cart_block {
		position: absolute;
		top: 75px;
		right: 0;
		z-index: 100;
		display: none;
		height: auto;
		background: #fff;
		width: 320px;
		border: 1px solid #D8D8D8;
		@include box-shadow(0 2px 10px rgba(0,0,0, 0.15));
		@media (max-width: $screen-ms-max) {
			top: 45px;
			width: 100%;
		}
		.cart_block_list {
			.remove_link a,
			.ajax_cart_block_remove_link {
				outline: none;
				text-decoration: none;
			}
			dl.products{ margin-bottom: 0px;
				max-height: 360px;
 				overflow-x: hidden;
  				overflow-y: auto;
  				&::-webkit-scrollbar {
  					width: 8px;
  				}
  				&::-webkit-scrollbar-track {
  					background-color: #eaeaea;
  					border-left: 1px solid #ccc;
  				}
  				&::-webkit-scrollbar-thumb {
  					background-color: #ccc;
  				}
  				&::-webkit-scrollbar-thumb:hover {
  					background-color: #aaa;
  				}

			}
		}
		.price {

		}
		.cart-images img{
			border: 1px solid $thumbnail-border;
		}
		dt {

		}
		.product-atributes {
			font-size: 11px;
		}

	}
	.block_content {
		margin-bottom: 0;
	}
}

.cart_block #cart_block_summary,
.cart_block .title_block span,
#header .cart_block h4,
#header .cart_block .title_block,
#header .cart_block h4 {
	display: none
}

.cart_block .cart_block_shipping_cost,
.cart_block .cart_block_tax_cost,
.cart_block .cart_block_total,
.cart_block .cart_block_wrapping_cost {
	float: right
}

.cart_block table.vouchers {
	clear: both;
	width: 78%;
	margin: 0 auto;
	margin-bottom: 10px;
	border: 1px dashed $base-border-color;
	.delete_voucher{ }
	tr td {
		padding: 8px;
		&.quantity{
			margin-right: 5px;
			min-width: 18px
		}
		&.delete{
			padding-left: 0;
			padding-right: 0;
			text-align: left;
			width: 16px;
		}
	}
}
/*****************************************************************************
					Layer Cart Css
*****************************************************************************/
.layer_cart_overlay {
	background-color: #000;
	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 5005;
	@include opacity(.20);
}

* html .layer_cart_overlay {
	position: absolute;
	left: 0;
	margin-left: -160px;
	@include opacity(.20)
}

#layer_cart {
	background-color: $light-background;
	position: absolute;
	@include box-shadow(0 2px 10px rgba(0,0,0, 0.15));
	display: none;
	z-index: 5007;
	width: 84%;
	right: 0px;
	left: 0px;
	max-width: 960px;
	margin: 0 auto;
	@include border-radius(4px);
	.layer_cart_title{
		border-bottom: 1px solid $base-border-color;
		text-transform: uppercase;
		padding: 10px 20px;
		padding-right: 40px;

	}
	.layer_cart_product {
		padding: 20px;
		overflow: hidden;
		position: static;
		h2 {
			font: 400 23px/29px $font-family;
			margin-bottom: 22px;
			padding-right: 100px;
			@media (max-width: $screen-xs-max) { // max 767px
				font-size: 18px;
				padding-right: 0;
				line-height: normal;
			}
			i {
				font-size: 30px;
				line-height: 30px;
				float: left;
				padding-right: 8px;
				@media (max-width: $screen-xs-max) { // max 767px
					font-size: 22px;
					line-height: 22px;
				}
			}
		}
		.product-image-container {
			max-width: 178px;
			border: 1px solid $base-border-color;
			padding: 5px;
			float: left;
			max-width: 25%;
		}
		.layer_cart_product_info {
			float: left;
			max-width: 75%;
			padding-left: 20px;
			#layer_cart_product_title {
				display: block;
				padding-left: 0px;
				border-bottom: 1px dotted $base-border-color;
				margin-bottom: 9px;
			}
			> div {
				strong {
					padding-right: 3px
				}
			}
		}
	}
	.layer_cart_cart {
		background: #fafafa;
		border-left: 1px solid $base-border-color;
		padding: 20px;
		position: relative;
		@media (min-width: $screen-md) {
			min-height: 160px;
		}
		@media (max-width: $screen-ms-max) { // max 991px
			border-left: none;
			border-top: 1px solid $base-border-color;
		}
		.overall_cart_title {
			border-bottom: 1px dotted $base-border-color;
			line-height: 23px;
			margin-top: 0px;
		}

	}
			.button-container {
				border-top: 1px solid $base-border-color;
			padding: 20px;
			padding-bottom: 10px;
			.btn {
				margin-bottom: 10px;
			}
			span.exclusive-medium {
				margin-right: 5px;
				i {
					padding-right: 5px;
				}
			}
		}
	.cross {
		position: absolute;
		right: 13px;
		top: 17px;
		width: 16px;
		height: 16px;
		cursor: pointer;
		z-index: 2;
		&:before {
			content: "\f00d";
			display: block;
			font-family: $font-icon;
			font-size: 16px;
			line-height: 16px;
		}
	}
	.continue {
		cursor: pointer;
	}
	p {
		padding: 0px;
	}
}
/************************************************************************
						Layer Cart Caroucel
*************************************************************************/
#layer_cart {
	.crossseling {
		.crossseling-content {
			border-top: 1px solid $base-border-color;
			position: relative;
			padding: 20px;
		}
		h5.crossseling_pop_title {
		text-transform: uppercase;
		padding:  0px;
		}
		#blockcart_list {
			max-width: 773px;
			width: 84%;
			margin: 0 auto;
			overflow: hidden;
			ul {
				display: block;
				li {
					float: left;
					width: 178px;
					margin: 0 0px 0 0;
					.product-image-container {
						border: 1px solid $base-border-color;
						text-align: center;
						padding: 5px;
						margin-bottom: 15px;

						img {
							width: 100%;
						}
					}
					.product-name {
						padding-bottom: 5px;

						a {
							font-size: 15px;
							line-height: 20px;
						}
					}
				}
			}
			a.bx-prev,
			a.bx-next {
				display: block;
				font-family: $font-icon;
				font-size: 20px;
				line-height: 20px;
				width: 20px;
				height: 20px;
				color: $base-text-color;
				text-indent: -5000px;
				position: absolute;
				top: 45%;
				margin-top: -20px;
				&:after {
					display: block;
					text-indent: 0;
				}
				&:hover {
					color: #c0c0c0;
				}
				&.disabled {
					display: none;
				}
			}
			a.bx-prev {
				left: 5%;
				&:after {
					content: "\f137";
				}
			}
			a.bx-next {
				right: 5%;
				&:after {
					content: "\f138";
				}
			}
			.bx-controls {
				overflow: hidden;
			}
		}
	}
}
