/*******************************************************************
					Last tweets styles
********************************************************************/
#twitter_block_module {
  border-top: 1px solid #dddddd;
  padding: 20px 0px; }
  #twitter_block_module .tw_title {
    border-right: 1px solid #dddddd; }
    #twitter_block_module .tw_title h4 {
      font-weight: normal;
      font-size: 16px;
      line-height: 60px;
      margin: 0px; }
      #twitter_block_module .tw_title h4 i {
        font-size: 24px;
        margin-right: 10px;
        position: relative;
        top: 2px; }
      @media (max-width: 1000px) {
        #twitter_block_module .tw_title h4 span {
          display: none; } }
  #twitter_block_module .tw_content {
    height: 60px;
    overflow: hidden; }
    #twitter_block_module .tw_content ul {
      margin: 0;
      padding: 0px;
      margin-left: 10px; }
      #twitter_block_module .tw_content ul li {
        height: 50px;
        margin: 5px 0;
        padding: 0px; }
  #twitter_block_module .tweet {
    margin: 0px; }
  #twitter_block_module .timePosted {
    font-style: italic; }
  #twitter_block_module .user {
    clear: left; }
  #twitter_block_module .user span {
    display: none; }
  #twitter_block_module .user img {
    width: 50px;
    margin-right: 10px; }
  #twitter_block_module .interact {
    display: none;
    float: left;
    margin-top: -10px; }
  #twitter_block_module .interact a {
    margin-left: 5px;
    float: left;
    font-size: 0px; }
    #twitter_block_module .interact a:before {
      font-size: 14px;
      font-family: "FontAwesome"; }
  #twitter_block_module .twitter_reply_icon:before {
    content: "\F112"; }
  #twitter_block_module .twitter_retweet_icon:before {
    content: "\F079"; }
  #twitter_block_module .twitter_fav_icon:before {
    content: "\F005"; }

/* Footer twitter */
#footer #twitter_block_module {
  border-bottom: 1px solid #CECECE;
  padding-top: 0px;
  border-top: none;
  margin-bottom: 20px; }
